<% # Clients of this partial must supply the following variables:
   # comment
   # user
%>

<% creator = comment.creator %>

<div class="bottom-comment">
  <div class="main-comment">
    <div class="comment-img">
      <% if creator.identities.empty? %>
          <i style="height: 70px; width: 70px; font-size: 55px !important;" class="fa fa-user img-me"></i>
      <% else %>
          <img style="border: 5px solid #fff;" class="img-circle" src="<%= creator.identities.first.image %>" alt="">
      <% end %>
    </div>

    <div class="comment-text">
      <span id="comment_<%= comment.id.to_s %>_votes_span">
      <%= render :partial => 'commontator/comments/votes',
                 :locals => { :comment => comment,
                              :user => user } %>
      </span>

      <% if creator.identities.empty? %>
        <h5><%= creator.name.nil? ? creator.email : creator.name %></h5>
      <% else %>
        <h5><%= creator.identities.first.name.nil? ? creator.identities.first.email : creator.identities.first.name %></h5>
      <% end %>
      <p class="comment-date">
        <%= comment.created_timestamp %>
      </p>

      <%= render :partial => 'commontator/comments/body',
                 :locals => { :comment => comment } %>
    </div>

    <span id="comment_<%= comment.id.to_s %>_actions_span" class="comment_actions">
      <%= render :partial => 'commontator/comments/actions',
                 :locals => { :comment => comment,
                              :user => user } %>
    </span>
  </div>
</div>
