<!DOCTYPE html>
<html>
  <head>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-1661710521240088",
        enable_page_level_ads: true
      });
    </script>
    <title>Tiempo de Viajar</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1"/><!-- Prelang: Analytics / Google Analytics -->
    <meta charset="utf-8">
    <%= analytics_init if Rails.env.production? or Rails.env.development? %>
  </head>

  <body>
  <div class="wrap">
    <header class="header-bg text-center">

      <div class="logo2">
        <a href="<%= root_path %>"><img class="logo-img" src="/assets/plane-logo.png" alt=""></a>
      </div>

    </header>

    <%= render 'elements/navigation_bar' %>

    <%= bootstrap_flash %>

    <div class="main-content">
      <%= yield %>
    </div>
    <div class="footer-copy">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-center">© 2017 <a href="">Tiempo de Viajar</a>, Desarrollado por <a href="#">NMS</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= javascript_include_tag 'application' %>
  </body>
</html>



